body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(255, 255, 255);
  color: #333;
}

.App {
  text-align: center;
}


h1 {
  font-size: 2.5rem;
  margin-top: 5;
  padding: 10rem 0 0rem 0;
  margin-bottom: 0;
  color: #5c6ac4;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0rem;
  color: #4a57a0;
}
