
body {
  font-family: Arial, sans-serif;
  background-color: none;
  margin: 0;
  padding: 0;
}

/* Center the form on the page */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

/* Style for the form elements */
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s ease;
}


input:focus,
textarea:focus {
  border-color: #4CAF50; 
  outline: none;
}


button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}


h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 14px;
  color: #555;
}


.RecipeList {
  margin-top: 30px;
}
