.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8; 
    text-align: center; 
  }
  

  .form {
    background: white;
    padding: 1.5rem;
    border-radius: 12px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 365px; 
    box-sizing: border-box;
  }
  
 
  h2 {
    color: #333;
    margin-bottom: 1 rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  
  .form-group {
    margin-bottom: 3rem;
  }
  
  label {
    font-weight: bold;
    color: #333; 
    display: block;
    margin-bottom: 0.1rem;
    text-align: left; 
  }
  
  .input-field {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid hwb(0 80% 20%); 
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease; 
  }
  
  .input-field:focus {
    outline: none;
    border-color: #5c6ac4; 
    box-shadow: 0 0 5px rgba(92, 106, 196, 0.6); 
  }
  
  
  .error {
    color: #e74c3c; 
    font-size: 0.875rem;
    margin-top: 0.5rem;
    display: block;
  }
  
 
  .submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #5c6ac4; 
    color: white;
    border: none;
    border-radius: 8px; 
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .submit-button:hover {
    background-color: #4a57a0; 
  }
  
  .submit-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(92, 106, 196, 0.6); 
  }
  

  @media (max-width: 600px) {
    .form {
      padding: 1.5rem;
      width: 90%;
      max-width: 100%;
    }
  
    h2 {
      font-size: 1.25rem;
    }
  
    .input-field {
      padding: 0.5rem;
      font-size: 0.875rem;
    }
  
    .submit-button {
      padding: 0.5rem;
      font-size: 0.875rem;
    }
  }
  